<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-static-top" background="https://images.fineartamerica.com/images-medium-large/seattle-cityscape-black-and-white-j-von-ryan.jpg";>
<div class="container" style="background: #8F0101";>
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{% url 'lab-4:index' %} " style="color: #F8F8F8; font-family: fantasy; font-size:20px;">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" >
    <ul class="nav navbar-nav" >
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li><a href="{% url 'lab-4:index' %}#form" style="color: #F5F5F5; font-family: fantasy; font-size:20px;"> Form </a></li>
        <li><a href="{% url 'lab-4:result_table' %}" style="color: #F5F5F5; font-family: fantasy; font-size:20px;"> Messages Table </a> </li>
    </ul>
    </div><!--/.nav-collapse -->
</div>
</nav>
