<!-- templates/lab_5/partials/header.html -->
<nav class="navbar navbar-default navbar-fixed-top" style="background: #8F0101";>
  <div class="container" style="background: #8F0101";>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/lab-5/"" style="color: #F5F5F5; font-family: fantasy; font-size:20px;">Todo-List</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li><a href="/lab-4/" style="color: #F5F5F5; font-family: fantasy; font-size:20px;">My Profile</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

