{% extends "lab_4/layout/base.html" %}
{% block content %}
<div align="CENTER">
    <div style= "background: #9FD380";>
        <h1 style="color: #000000; font-family: fantasy">Portofolio</h1>
        <section name="foto" >
            <img src="https://lh3.googleusercontent.com/-BAFDCxsfV58/AAAAAAAAAAI/AAAAAAAAABs/hWVSpoSKKO0/-p-rw-no/photo.jpg" class="img-circle" width="250" height="250" />
        </section>
        <section name="identity" >
            <h1 class="display-1" style="color: #030303; font-family: fantasy;">Ignatius Raka Radityo Wisnumurti</h1>
            <h3 class="jobs" style="color: #000000;">1606885555</h3>
        </section>
    <hr/>
    </div>
    <div style="background-color: #9FD380">
    <hr/>
    <section name="bio" >
        <h1 style="color: #000000; font-family: fantasy">Bio</h1>
        <p style="color: #000000; font-family: Carter One; font-size:24px;">
            {{content}}
         </p>    
    </section>
</div>
<hr/>
</div>
<div style="background-color: #9FD380">
<hr/>
<section name="about_me">
    <h2 align="CENTER" style="color: #000000; font-family: fantasy">List</h2>
    <ul style="color: #000000; font-family: Carter One; font-size:20px;">
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
</div>
<div style="background-color: #9FD380">
<hr/>
<section name="form">
    <h2 align="CENTER" style="color: #000000; font-family: fantasy;">Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>
{% endblock %}

