{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 25%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
</style>
<div class="center_screen">
    <img src="http://24.media.tumblr.com/46c0966e7bbaf2fbe9e1219cb0bc8bb4/tumblr_mi5rjgxGxP1qe3m9lo1_500.gif" width="496" height="200" align="Center">
    <p class="status" id="test" style="color:#FFFFFF;text-align: center" font-size: 12px>Hello, this is {{ name }}. {{ content }}.</p>
</div>
{% endblock %}
