{% extends "base.html" %}
{% block content %}
<h3 style="color:#FFFFFF;text-align: center;">Hai semua, berikut adalah Catatan Harianku</h3>
<br><br>
<div class="row">
    <div class="col-md-6 col-xs-6">
        <table align="center" style="color:#FFFFFF;text-align: center;">
            <tr>
                <th> Tanggal </th>
                <th> Yang akan dikerjakan </th>
            </tr>
            {% for diary_data in diary_dict %}
                <tr>
                    <td class="date">{{ diary_data.date }}</td>
                    <td class="activity">{{ diary_data.activity }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6 col-xs-6">
        <form method="POST" action="add_activity/">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        <h5 style="color:#FFFFFF;background: #FF0202">Tanggal</h5>
                    </td>
                    <td>
                        <input type="datetime-local" name="date" id="date" required="required" size="12"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5 style="color:#FFFFFF;background: #FF0202">Kegiatan</h5>
                    </td>
                    <td>
                        <input type="text" name="activity" id="activity" size="25"/>
                    </td>
                </tr>
            </table>
            <button type="submit" style="background: #FF0404;border:1px solid #000000" " class="button btn-success">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
